/*

Tabber Widget

*/


ul.tabs { 
	position: relative; 
	z-index: 1000; 
	float: left; 
	border-left: 1px solid #C3D4EA; 
}
ul.tabs li {
	position: relative; 
	overflow: hidden; 
	height: 26px; 
	float: left; 
	margin: 0; 
	padding: 0; 
	line-height: 26px; 
	background-color: #222B46;
	border-left: none; 
}
ul.tabs li  a{ 
	display: block; 
	padding: 0 10px; 
	outline: none; 
	text-decoration: none;
}
ul.tabs li {
  border-right: 1px solid #CFCFCF;
  height: 45px;
  margin-bottom: 5px;
  padding: 10px 0;
  width: 85px;
}
ul.tabs li :last-child{
	border-right: 0px solid #CFCFCF !important;
}
html ul.tabs li.active, 
html ul.tabs li.active a:hover { 
	background-color: #999;
}
.widget-area .widget .tabs a  { 
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}
.tab_container {
	position: relative; 
	z-index: 999; 
	width: 100%; 
	float: left; 
	font-size: 11px; 
	background-color: #D5DED9; 
}

.tab-clear {
	clear:both;
}
.list_item_posts{
	border-bottom: 1px solid #F0F0F0;
}
.list_item_posts a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color:#222B46 !important;
}
.list_item_posts a:hover{
	text-decoration: none;
	color:#D52128 !important;
}